   <div class="MainContainer" id="MainContainer">

    <div class="row">
   		<div class="col-sm-12">
        	 <ol class="breadcrumb">
              <li><a href="#/">Home</a></li>
              <li><a href="javascript:void(0)">Establish Profile</a></li>
              <li class="active">Eligibility Criteria</li>
            </ol>
        </div>
	</div>
    <section class="minHeight422">
    	<div class="row marginTop10 lightGrayBG">
        <div class="col-xs-12 col-sm-12 h3 txtBlue marginTop7">Eligibility Criteria</div>
        </div>
        <div class="row">

        <div class="col-md-5 LeftDivider col-md-push-7">

    <div class="row marginTop20">
      <div class="col-md-12">

		<ul class="alert alert-info txtBlack" style="list-style-type: none">
			<li>“You are eligible to become foster parent regardless of  your marital status,  income and  Religion.   Its not mandatory that you need your own house, have children,  be young or be wealthy to become foster parent."</li>
			
		</ul>

	  </div>
    </div><!-- /.row -->
            </div>

         <div class="col-md-7  col-md-pull-5">
            <div class="row marginBottom10 marginTop10">

		<div class="radio">
		  <label>
			Have you ever gone through prior training to become foster parent &nbsp;&nbsp;
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions2" id="inlineRadio1" ng-model="model.homeStudy.value" value="yes"> Yes

			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions2" id="inlineRadio2" ng-model="model.homeStudy.value" value="no"> No
			</label>
		  </label>
		</div>
        <div class="radio">
		  <label>
			Are you done with home study &nbsp;&nbsp;
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio11" ng-model="model.priorTraining.value" value="yes"> Yes
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio21" ng-model="model.priorTraining.value" value="no"> No
			</label>
		  </label>
		</div>
	</div><!-- /.row -->
	<div class="row marginTop10">
      <div class="col-md-12">
		<button class="btn btn-primary"  ng-click="model.GoTo()">Next</button>
	  </div>
    </div><!-- /.row -->
            </div>


        </div>





    </section>
</div>
<main-script></main-script>
