 <div class="MainContainer" id="MainContainer">
    <div class="row">
   		<div class="col-sm-12">
        	 <ol class="breadcrumb">
             <li><a href="default.html">Home</a></li>
              <li><a href="default.html">Register Profile</a></li>
               <li class="active">Thank You</li>
            </ol>
        </div>
	</div>
    <section class="minHeight300"> <div class="row marginTop7 lightGrayBG">
        <div class="col-xs-12 col-sm-6 h3 txtBlue marginTop7">Thank You!</div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-pills nav-justified tabPills">
            <li ><a href="javascript:void(0)">Account Detail</a></li>
            <li ><a href="javascript:void(0)">Personal Information</a></li>
            <li><a href="javascript:void(0)">Family Narrative &amp; Preferences</a></li>
            <li ><a href="javascript:void(0)">Licensing  &amp; Agency Detail</a></li>
          </ul>
        </div>
      </div>
      <div class="alert alert-warning marginTop20">

                                <p class="text-center font1dot3em">Thank you for registering with Us. Your effort to become foster parent is highly appreciated your application is under verification.<br/>Our team will contact you soon. You would shortly receive an email from us.</p><br/>
                                <p class="text-center marginTop20"><button type="submit" class="btn btn-primary" ng-click="model.GotoThankYou()"><i class="glyphicon glyphicon-home"></i> My Page</button></p>
                </div>



    </section>
  </div>
  <main-script></main-script>
