<div class="row marginTop20">
       <div class="col-xs-12 col-sm-6 h1 txtBlue ">Establish Profile</div>
       <div class="col-xs-12 col-sm-6 txtBlue font1dot5em"><span class="stepCount">Step <span class="badge alert-info font1em">1</span> of <span class="badge alert-info font1em">4</span><span></div>
     </div>
     <div class="row">
       <div class="col-xs-12">
         <ul class="nav nav-pills nav-justified tabPills">
           <li  class="active"><a href="EstablishProfile-Step1.html">Account Detail</a></li>
           <li ><a href="EstablishProfile-Step2.html">Personal Information</a></li>
           <li ><a href="EstablishProfile-Step3.html">Family Narrative &amp; Preferences</a></li>
           <li ><a href="EstablishProfile-Step4.html">License &amp; Agency Detail</a></li>
         </ul>
       </div>
     </div>
     <form method="post" id="registrationForm1">
     <div class="form-horizontal marginTop20">
       <div class="form-group required">
         <label for="inputPassword" class="control-label col-sm-2 paddingTop7">Username</label>
         <div class="col-sm-3">
           <input class="form-control" type="text" required>
         </div>
         <label for="inputPassword" class="control-label col-sm-2 paddingTop7">Email Id</label>
         <div class="col-sm-3">
           <input class="form-control" type="email" required>
         </div>
       </div>
       <div class="form-group required">
         <label for="inputPassword" class="control-label col-sm-2 paddingTop7">Password</label>
         <div class="col-sm-3">
           <input class="form-control" type="password" required>
         </div>
         <label for="inputPassword" class="control-label col-sm-2 paddingTop7">Confirm Password</label>
         <div class="col-sm-3">
           <input class="form-control" type="password" required>
         </div>
       </div>
       <div class="form-group">
         <div class="col-sm-6 col-sm-offset-5">
           <input class="btn btn-primary" value="Save" type="submit" ng-click="model.SaveRegistrationProfileData()">
           <input class="btn btn-default" value="Cancel" type="button"  onClick="location.href='#/'">
         </div>
       </div>
     </div>
   </form>
     <!-- /.form-horizontal -->
