 <div class="MainContainer" id="MainContainer">
    <div class="row">
   		<div class="col-sm-12">
        	 <ol class="breadcrumb">
             <li><a href="javascript:void(0)">Home</a></li>
              <li><a href="javascript:void(0)">Establish Profile</a></li>
               <li class="active">Acknowledgement</li>
            </ol>
        </div>
	</div>
    <section class="minHeight422"> <div class="row marginTop7 lightGrayBG">
        <div class="col-xs-12 col-sm-6 h3 txtBlue marginTop7">Acknowledgement</div>
      </div>
      <div class="alert alert-warning marginTop20">

        <p class="text-center font1dot3em">Thank you for registering with us. <br/>Your effort to become foster parent is highly appreciated. Your application is under verification.<br/>You would shortly receive an email from us, soon after our case worker will contact you.</p><br/>
        <p class="text-center marginTop20">
          <button type="button" class="btn btn-primary" ng-click="model.GotoMyPage()">
            <i class="glyphicon glyphicon-user"></i> Goto My Profile
          </button>
         </p>
      </div>



    </section>
  </div>
  <main-script></main-script>
