<footer class="footer marginTop12">
    <div class="container">
		<div class="row">
			<ul class="footerLinks">
        <li><a href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="javascript:void(0)" title="Google+"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="javascript:void(0)" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="javascript:void(0)" title="GitHub"><i class="fa fa-github"></i></a></li>
        <li class="pull-right"><a href="javascript:void(0)">Report Tech Issue</a></li>
      </ul>

		</div>
	</div>
</footer>
<div class="footercopyright">
  <div class="container">
		<div class="row ">
      <ul class="footerLinks">
      <li>© Copyright 2016 AgreeYa Solutions, Inc. All Rights Reserved.</li>
      <li class="pull-right">Powered by <img src="./contents/images/AgreeYa_Logo.png"  height="30" alt="Agreeya Solutions"></li>
      </ul>
    </div>
  </div>
</div>