<div class="col-sm-12 rightSection">

  <div class="form-horizontal marginTop20">

    <div ng-if="model.isAgenciesAvailable == 'default'" class="text-center">
      <img src="./contents/images/loading.gif" alt="" id="loading">
    </div>

    <div id="searchResult" ng-if="model.isAgenciesAvailable != 'default'">
      <h4>Search Results</h4>
      <div class="row">
        <div ng-if="model.isAgenciesAvailable == 'yes'" class="col-sm-3">
          Page Size:
          <select name="ddl_pageSizes" class="form-control" ng-change="model.onPageSizeChanged(model.selectedPageSize)" ng-model="model.selectedPageSize"
            ng-options="page.Id as page.Name for page in model.pageSizes">
                      <option value="">Select</option>
                  </select>
        </div>
      </div>

      <div ag-grid="model.gridOptions" class="ag-fresh" id="agenciesGrid" ng-style="model.agGridStyle" class="table-responsive"
        ng-if="model.isAgenciesAvailable == 'yes'">

      </div>
      <div ng-if="model.isAgenciesAvailable == 'no'">
        <div class="alert alert-warning" role="alert">No foster care agencies found in nearby location.</div>

      </div>
    </div>




  </div>
  <!-- /.form-horizontal -->
</div>
<main-script></main-script>
