<section>
    	<div id="myCarousel" class="carousel slide marginBottom10" data-ride="carousel">


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="contents/images/homepagebanner.jpg" alt="Family Registration" class="fixedHeight">
      <div class="carousel-caption">
      <div class="carouselContentBG txtUppercase txtItalic">
        <h2>HOLD THE HANDS</h2>
<h4>your little effort can make the</h4>
<h4>great difference in someone’s life</h4>
<h2>BECOME A FOSTER PARENT.</h2></div><br/>
      <h3><a ng-click="model.GoToFamilyRegistration()" class="carouselContentBG">Family Registration <i class="glyphicon glyphicon glyphicon-forward"></i></a></h3>

      </div>
    </div>

  </div>


</div>

     <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 marginBottom10"><img src="contents/images/homeThmb1.png" border="0" class="img-responsive" /></div>
      <div class="col-xs-6 col-sm-6 col-md-3 marginBottom10"><img src="contents/images/homeThmb2.png" border="0" class="img-responsive" /></div>
	  <div class="col-xs-6 col-sm-6 col-md-3 marginBottom10"><img src="contents/images/homeThmb3.png" border="0" class="img-responsive" /></div>
      <div class="col-xs-6 col-sm-6 col-md-3 marginBottom10"><img src="contents/images/homeThmb4.png" border="0" class="img-responsive" /></div>
    </div>

    </section>
