

<div class="form-horizontal marginTop20">

    <div class="alert alert-warning" role="alert">
        <div class="form-group  font1dot3em">
            <label for="inputPassword" class="control-label col-sm-6 ">Family Registration Status: </label>
            <div class="col-sm-4 paddingTop7">
                <span class="badge alert-danger font1em">{{model.userStatus}}</span>
            </div>
        </div>

    </div>



</div>
<!-- /.form-horizontal -->
<div class="row">
    <div class="col-sm-6 col-md-3 marginTop20"><a href="javascript:void(0)"><img src="./contents/images/lookForChildProfile.jpg" width="266" height="265" alt="" class="img-responsive marginAuto " /></a></div>
    <div class="col-sm-6 col-md-3 marginTop20"><a href="javascript:void(0)"><img src="./contents/images/fosterParentingLibrary.jpg" width="266" height="265" alt="" class="img-responsive marginAuto " /></a></div>
    <div class="col-sm-6 col-md-3 marginTop20"><a href="javascript:void(0)"><img src="./contents/images/trainingVideos.jpg" width="266" height="265" alt="" class="img-responsive marginAuto" /></a></div>
    <div class="col-sm-6 col-md-3 marginTop20"><a href="javascript:void(0)"><img src="./contents/images/stateFosterCareInfor.jpg" width="266" height="265" alt="" class="img-responsive marginAuto " /></a></div>
</div>
<main-script></main-script>
