

 <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified tabPills">
                            <li>
                                <a ng-link="['UserAccountDetails']">
                                    Update<br />
                                    Account Detail
                                </a>
                            </li>
                            <li>
                                <a ng-link="['UserPersonalInformation']">
                                    Update<br />
                                    Personal Information
                                </a>
                            </li>
                            <li class="active">
                                <a ng-link="['UserPreferences']">
                                    Update Family
                                    Narrative &amp; Preferences
                                </a>
                            </li>
                            <li><a ng-link="['UserLicense']">Update License &amp; Agency Detail</a></li>
                        </ul>
                    </div>
                </div>

     <div class="row">
         <div class="col-sm-7">

             <form name="userForm3" ng-submit="model.updatePreferences()" novalidate>
                 <div class="form-horizontal marginTop20">
                     <div class="form-group required">
                         <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Please provide information to describe you and your family. </label>
                         <div class="col-sm-6 paddingTop7">
                             <textarea type="text" rows="4" class="form-control" name="description" id="description" ng-model="model.familyDetails.description" required></textarea>
                             <span ng-show="userForm3.description.$invalid && !userForm3.description.$pristine" class="help-block"> Description required.</span>
                         </div>
                     </div>
                     <div class="form-group required">
                         <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Do you have Kids?</label>
                         <div class="col-sm-6">
                             <p>
                                 <label>
                                     <input type="radio" name="RadioGroup1" value="y" id="RadioGroup1_0" ng-model="model.familyDetails.haveKids" ng-checked="model.familyDetails.haveKids == 'y'">
                                     Yes
                                 </label>
                                 &nbsp;
                                 <label>
                                     <input type="radio" name="RadioGroup1" value="n" id="RadioGroup1_1" ng-model="model.familyDetails.haveKids" ng-checked="model.familyDetails.haveKids == 'n'">
                                     No
                                 </label>
                                 <br>
                             </p>
                         </div>
                     </div>

                     <div>
                         <div class="form-group  required" id="dv_numofkids" ng-show="model.familyDetails.haveKids == 'y'">
                             <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Number of Kids</label>
                             <div class="col-sm-6">
                                 <select class="form-control" ng-model="model.familyDetails.numberOfKids" ng-change="model.setKidsSection()">
                                     <option ng-repeat="x in model.kids" value="{{x}}">{{x}}</option>
                                 </select>
                             </div>
                         </div>
                         <div class="panel panel-default" id="dv_FirstKid" ng-show="model.familyDetails.haveKids == 'y'">
                             <div class="panel-heading"><b>First Kid Details</b></div>
                             <div class="panel-body">
                                 <div class="form-group required">
                                     <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Name</label>
                                     <div class="col-sm-6">
                                         <input class="form-control" ng-model="model.kid1Name" id="kid1Name" name="kid1Name" required/>
                                         <span ng-show="userForm3.kid1Name.$invalid && !userForm3.kid1Name.$pristine" class="help-block"> First Kid's Name required.</span>
                                     </div>
                                 </div>
                                 <div class="form-group required ">
                                     <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Age Group of First Kid</label>
                                     <div class="col-sm-6">
                                         <select class="form-control" ng-model="model.kid1AgeGroup">
                                             <option ng-repeat="x in model.ageGroups" value="{{x}}">{{x}}</option>
                                         </select>
                                     </div>
                                 </div>
                                 <div class="form-group required">
                                     <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Hobbies</label>
                                     <div class="col-sm-6 paddingTop7">
                                         <textarea type="text" rows="4" class="form-control" ng-model="model.kid1Hobbies" id="kid1Hobbies" name="kid1Hobbies"></textarea>
                                         <span ng-show="userForm3.kid1Hobbies.$invalid && !userForm3.kid1Hobbies.$pristine" class="help-block"> First Kid's Hobbies required.</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="panel panel-default" id="dv_SecondKid" ng-show="model.hasTwoKids && model.familyDetails.haveKids == 'y'">
                             <div class="panel-heading"><b>Second Kid Details</b></div>
                             <div class="panel-body">
                                 <div class="form-group required">
                                     <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Name</label>
                                     <div class="col-sm-6">
                                         <input class="form-control" ng-model="model.kid2Name" id="kid2Name" name="kid2Name" required />
                                         <span ng-show="userForm3.kid2Name.$invalid && !userForm3.kid2Name.$pristine" class="help-block"> Second Kid's Name required.</span>
                                     </div>
                                 </div>
                                 <div class="form-group required ">
                                     <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Age Group of Second Kid</label>
                                     <div class="col-sm-6">
                                         <select class="form-control" ng-model="model.kid2AgeGroup">
                                             <option ng-repeat="x in model.ageGroups" value="{{x}}">{{x}}</option>
                                         </select>
                                     </div>
                                 </div>
                                 <div class="form-group required">
                                     <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Hobbies</label>
                                     <div class="col-sm-6 paddingTop7">
                                         <textarea type="text" rows="4" class="form-control" ng-model="model.kid2Hobbies" id="kid2Hobbies" name="kid2Hobbies" required></textarea>
                                         <span ng-show="userForm3.kid2Hobbies.$invalid && !userForm3.kid2Hobbies.$pristine" class="help-block"> Second Kid's Hobbies required.</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="form-group required">
                             <label for="inputPassword" class="control-label col-sm-4 paddingTop7">Please be open in expressing your kids behavior, emotional and other preferences</label>
                             <div class="col-sm-6 paddingTop7">
                                 <textarea type="text" rows="4" class="form-control" id="kidsPref" name="kidsPref" ng-model="model.familyDetails.kidsPref" required></textarea>
                                 <span ng-show="userForm3.kidsPref.$invalid && !userForm3.kidsPref.$pristine" class="help-block"> Kid's preferences are required.</span>
                             </div>
                         </div>

                     </div>
                     <div class="form-group">
                         <div class="col-sm-6 col-sm-offset-4">
                             <input class="btn btn-primary" value="Update" type="submit">
                             <input class="btn btn-default" value="Cancel" type="button" ng-link="['UserPreferences']">
                         </div>
                     </div>
                 </div>
                 <!-- /.form-horizontal -->
            </form>
</div>
         <div class="col-sm-5 marginTop20 LeftDivider">
             <img src="./contents/images/registerFiller.jpg" width="388" height="408" alt="" class="img-responsive" />
         </div>
     </div>

            </div>
<main-script></main-script>
