<div class="MainContainer" id="MainContainer">

    <div class="row">
   		<div class="col-sm-12">
        	 <ol class="breadcrumb">
              <li><a href="default.html">Home</a></li>
              <li class="active">My Page</li>
            </ol>
        </div>
	</div>
    <section> <div class="row marginTop7 lightGrayBG">
        <div class="col-xs-12 col-sm-6 h3 txtBlue marginTop7">My Page</div>
      </div>
      <div class="row marginTop10">
        <div class="col-sm-3 leftNav"><!--Left Nav-->
        <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-pills tabPills  nav-stacked">
            <li class="active"><a href="MyApplication.html">My Page</a></li>
            <li><a href="ManageProfile-Step1.html">Manage Profile</a></li>
            <li><a href="childResidentialFacility.html">Lookup Child Residential Facilities</a></li>
			<li><a href="fosterCareAgency.html">Lookup  Foster Care Agencies</a></li>
<li><a href="inbox.html">Inbox</a></li>
          </ul>
        </div>
      </div>
        </div>
        <div class="col-sm-9 rightSection">






      <div class="form-horizontal marginTop20">

		<div class="alert alert-warning" role="alert">
		 <div class="form-group  font1dot3em">
          <label for="inputPassword" class="control-label col-sm-6 ">Family Registration Status: </label>
          <div class="col-sm-4 paddingTop7">
            <span class="badge alert-danger font1em">Pending</span>
          </div>
          </div>

		</div>



      </div>
      <!-- /.form-horizontal -->
        <div class="row">
      	<div class="col-sm-6 col-md-3 marginTop20"><a href="javascript:void(0)"><img src="./contents/images/lookForChildProfile.jpg" width="266" height="265" alt="" class="img-responsive marginAuto "/></a></div>
		<div class="col-sm-6 col-md-3 marginTop20"><a href="javascript:void(0)"><img src="./contents/images/fosterParentingLibrary.jpg" width="266" height="265" alt="" class="img-responsive marginAuto "/></a></div>
      	<div class="col-sm-6 col-md-3 marginTop20"><a href="javascript:void(0)"><img src="./contents/images/trainingVideos.jpg" width="266" height="265" alt="" class="img-responsive marginAuto"/></a></div>
		<div class="col-sm-6 col-md-3 marginTop20"><a href="javascript:void(0)"><img src="./contents/images/stateFosterCareInfor.jpg" width="266" height="265" alt="" class="img-responsive marginAuto "/></a></div>
      </div>

      </div>

      </div>



    </section>
  </div>
  <main-script></main-script>
